body {
    min-height: 100vh;
    background-color: #e5e5f7;
    opacity: 1;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #e5e5f7 16px),
        repeating-linear-gradient(#E0E0E8, #E6EFC7);
}
h1 {
  color: red;
  text-align: center;
  font-family: "Alegreya Sans SC", "Alegreya Sans", "Alegreya", sans-serif;
}

    body {
  font-family: "Alegreya Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;

}

h1, h2, h3  {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
}